<?xml version="1.0" encoding="utf-8" ?>
<!--
// Copyright (C) SquidEyes, LLC. - All Rights Reserved
// Unauthorized copying of this file, via any medium is strictly prohibited
// Proprietary and Confidential
// Written by Louis S. Berman <louis@squideyes.com>, 6/20/2016
-->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GetOffers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <GetOffers.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>USERNAME NEEDED</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>PASSWORD NEEDED</value>
            </setting>
        </GetOffers.Properties.Settings>
    </applicationSettings>
</configuration>